
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Utilitario Web</title>
</head>
<body>
    <div> 
        <form id="form1" class="form-control">
            <h1 class="h1">Carga de Archivo</h1>
            <input type="file" id="archivo1" accept=".csv" placeholder="Cargar archivo shopping cart" class="input-control"/>
            @*<input type="button" id="cargar1" value="Examinar" class="input-control" />

            <input type="text" id="archivo2" placeholder="Cargar archivo de autorzación de Compras" class="input-control" />
            <input type="button" id="cargar2" value="Examinar" class="input-control" />*@
        </form>
    </div>
</body>
</html>
