
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Utilitario Web</title>
</head>
<body>
    <div> 
        <form id="form1" class="form-control">
            <h1 class="h1">Carga de Archivo</h1>
            <div style="width:300px">
                <label for="archivo1">Shopping Cart:</label>
                <input type="file" id="archivo1" accept=".csv" class="input-control" />                
            </div>
            <br />  
            <div style="width:300px">
                <label for="archivo2">Autorzación de Compras:</label>
                <input type="file" id="archivo2" accept=".csv" class="input-control" />
                <br />
            </div>
        </form>
    </div>
</body>
</html>
