@model Apps.Web.Models.UserModel

<h2>Seleccionar compañia</h2>
<br />
<div class="container">
    <table class="col-md-4 table-bordered">
        <tr>
            <th class="info">
                @Html.Label("Compañias asignadas al usuario: " + Model.CodeUser   )
            </th>
        </tr>
        @foreach (var item in Model.CompaniesModel)
        {
            <tr>
                <td>
                    <div class="form-group">
                        <input type="radio" class="radio-inline" id="@item.CodeCompany" name="company" />                        
                        <span class="form-inline">@item.ShortName</span>
                    </div>                    
                </td>
            </tr>
        }
    </table>
</div>
<br />
<div class="form-horizontal">
    <input type="submit" class="btn btn-primary" value="Aceptar" />
</div>