@model IEnumerable<Apps.Web.Models.CompanyModel>

<p>
    <h4>@ViewBag.Subtitle</h4>
</p>
<table class="table col-md-4" >
    <tr>
        <th>
            @Html.Label("Detalle de Compañias")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
    </tr>
}

</table>
