@model IEnumerable<Apps.Web.Models.CompanyModel>

<table class="col-md-4">
    <tr>
        <th>
            @Html.Label("Detalle de Compañias")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="col-md-10">
                    <input class="check-box" id="@item.CodeCompany" name="company" type="checkbox" value="false">
                    @Html.DisplayFor(modelItem => item.ShortName)
                </div>
            </td>
        </tr>
    }
</table>